*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: black;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
}

.logo{
    color: #8f3838;
    font-weight: bold;
    font-size: 5em;
    text-decoration: none;
}

.logo span {
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
    position: relative;
    color: rgb(31, 13, 4);
}

.navbar{
    display: flex;
    position: relative;
}

.navbar li{
    list-style:none;
}

.navbar a{
    color: #710b0b;
    text-decoration:wavy;
    margin-left: 40px;
    font-weight: 700;
}
header .navbar li a:hover{
    color:rgb(7, 3, 7);
    border-bottom: 2px solid;
}


.mon_git
{
    padding: 10px;
    width: 10px;
}

histoire{
    position: fixed;
    top: 20%;
    left: 0%;
    padding: 20px;
    width: 100%;
    z-index: 2;
    display:flex;
    justify-content: space-between;
    align-items: center;
    transition: 2s;
}
